/* Eliminar márgenes y rellenos del cuerpo */
body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column; /* Alinea el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilo del menú de navegación */
.containerMenu {
    width: 100%;
    background-color: #002c44;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.listaMenu {
    background-color: #002c44;
}

li {
    margin: 0 10px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #a1bfcf;
}

/* Contenido principal */
.container {
    text-align: center;
    margin-top: 120px; /* Espacio para el menú fijo */
}

h3 {
    color: #433b3b;
    margin-bottom: 20px;
}

form {
    width: 300px;
    padding: 20px;
    background-color: #e3e5e6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #49b8f3;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a1bfcf;
}


         #mision {
            width: 80%;
            display: flex; /* Coloca los divs uno al lado del otro */
            justify-content: space-between; /* Espacio entre los dos divs */
            gap: 20px; /* Añade un espacio entre los elementos */
            margin-bottom: 20px;

        }
        
        #mision div {
            flex: 1; /* Hace que ambos divs ocupen el mismo ancho */
            padding: 10px; /* Añade un poco de relleno interno */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Opcional: sombra para que se vean separados */
        }

/* Hacer que el scroll sea suave */
html {
    scroll-behavior: smooth;
}


/* Centrar únicamente el contenido del contenedor .containerPass */
.containerPass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 20px;
    border: 1px solid #ccc; /* Línea opcional para ver el borde del contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle un poco de estilo */
    border-radius: 10px;
    background-color: #f9f9f9; /* Color de fondo del contenedor */
    max-width: 400px; /* Tamaño máximo del contenedor */
    margin-top: 50px; /* Espaciado desde la parte superior */
}

/* Estilos opcionales para los elementos internos */
h3, p {
    text-align: center;
}

input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px; /* Ajusta el ancho del campo de entrada */
}

button {
    padding: 10px 20px;
    background-color: #85d8fc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #c6dfdf;
}

#servicio {
    text-align: center;
    padding: 20px;
    margin-top: 50px; /* Ajusta este valor según el alto de tu menú */
}

.services-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.service-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    width: 250px; /* Ajusté el ancho para que haya más espacio */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-image img {
    width: 100%;
    height: auto;
}

.service-description {
    padding: 10px 0;
}

.service-description p {
    margin: 15px 0;
    font-weight: bold;
    font-size: 1.2em;
}

.btn-service {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 1em;
}

.btn-service:hover {
    background-color: #0056b3;
}

/** estilos de seccion inicial*/


#locate {    display: flex;
    
padding: 50px 0;
margin-top: 200px;

border-radius: 50px; /* Esquinas redondeadas, opcional */
padding: 20px; /* Espaciado interno */

background-color: #002c44; /* Color de fondo opcional */
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Sombra exterior */
min-height: 350px; /* Altura mínima */
width: 60%;
}

#locate p { 
font-size: 1.3em ;
text-align: left;
color: #d4e9f6;
}
#locate h2 { 
    font-size: 1.5em ;
    margin-bottom: 20px;
    color: #d4e9f6;
    margin-top: 40px;
     }
#intro-servicio {
    display: flex;
    padding: 50px 0;
    margin-top: 200px;
    border-radius: 50px; /* Esquinas redondeadas */
    width: 65%;
    height: auto; /* Cambiado a auto para que la altura se ajuste según el contenido */
    background-color: #f1f8ef; /* Color de fondo */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Sombra exterior */
}


.intro-text {
    flex: 1;
    padding: 20px;
    text-align: left; /* Alinea el texto a la izquierda */
}

.intro-text h2 {
    font-size: 2.5em; /* Ajustado para mayor tamaño */
    margin-bottom: 20px;
    color: #393535;
    font-family: 'Poppins', sans-serif; /* Estilo de fuente opcional */
    font-weight: 600; /* Ajustado para mayor peso */
}

.intro-text p {
    font-size: 1.2em; /* Aumentado para mayor legibilidad */
    color: #555;
    line-height: 1.5; /* Mejora el espaciado entre líneas */
    text-align: left;
}

#mision {  
    display: flex;
    padding: 50px 0;
    margin-top: 200px;
    
    border-radius: 50px; /* Esquinas redondeadas, opcional */
    padding: 20px; /* Espaciado interno */
    
    background-color:#002c44; /* Color de fondo opcional */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Sombra exterior */
    min-height: 350px; /* Altura mínima */
    width: 60%;
    }
    #mision p { 
        font-size: 1.3em ;
        text-align: left;
        color: #d4e9f6;
        }
        #mision h2 { 
            font-size: 1.5em ;
            margin-bottom: 20px;
            color: #d4e9f6;
            margin-top: 40px;
             }

             footer#ubicacion {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: 40px 20px;
                background-color: #ffffff; /* Fondo oscuro para el footer */
                color: rgb(14, 14, 14); /* Texto blanco para contraste */
                border-top: 5px solid #002c44; /* Línea superior de color */
                font-family: 'Arial', sans-serif;
                margin-top: 20px;
                width: 100%;
            }
            
            .footer-column {
                flex: 1;
                margin: 0 20px;
            }
            
            .footer-column h3 {
                font-size: 17px;
                margin-bottom: 15px;
                border-bottom: 2px solid #002c44; /* Subrayado debajo del título */
                padding-bottom: 5px;
            }
            
            .footer-column p {
                font-size: 12px;
                margin: 8px 0;
            }
            
            footer#ubicacion p {
                line-height: 1.6; /* Espacio entre líneas para mejor legibilidad */
            }
            
            @media (max-width: 768px) {
                footer#ubicacion {
                    flex-direction: column;
                    text-align: center;
                }
                
                .footer-column {
                    margin-bottom: 30px;
                }
            }

            /* Agregar margen superior al hacer scroll hacia secciones */
#servicio, #ubicacion, #locate, #mision {
    scroll-margin-top: 120px; /* Ajusta el valor según la altura del menú */
}

.logo {
    border: 2px solid #e1e7f3; /* Color del borde */
    border-radius: 30px; /* Bordes redondeados, opcional */
    padding: 5px; /* Espacio entre la imagen y el borde */
}

.logo2 {
    border: 2px solid #002c44; /* Color del borde */
    border-radius: 30px; /* Bordes redondeados, opcional */
    padding: 5px; /* Espacio entre la imagen y el borde */
}
           
